section.jumbotron {
  // margin-bottom: 30px;
  padding: 50px 30px 10px;
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;

  h1 {
    font-size: 3em;
  }
  h3{
    small{
      font-weight: lighter;
      font-size: .7em;
    }
  }
  md-icon{
    color: #fff;
  }
  &.loading {
    padding: 10em 30px;
  }
  &.profile{
    background-image: url(../assets/images/profile-bg.jpg);
    min-height: 19em;
  }
}
.avatar {
    width: 150px;
    height: 150px;
    background-color: #333;
    min-width: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFF;
    border: 4px solid #fff;
}


.profile-tabs  .tabs-content {
  background-color: transparent !important;
}

.profile-tabs md-tabs {
    background: #f6f6f6;
}
.profile-tabs md-tabs md-tabs-wrapper {
    background: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.panel-tabs md-tabs-content-wrapper {
    top: 0;
}

.panel-tabs md-tabs-wrapper{
  display: none;
}
.loading-bar{
  position:absolute;
  left:25%;
  top:25%;
  width:50%;
}
